<div class="bs-component">
    <div class="jumbotron row" style="background:transparent url('/assets/boat-ocean.jpg') no-repeat center center /cover">

        <h1>Let's Go!</h1>
        <p>This is a simple site to encourage meeting in person.</p>
        <p><%= link_to "Check it out as a Guest", events_path, :class=>"btn btn-warning btn-lg"%></p>
  	</div>
 </div>

           