<header style="background-image: url('https://s3.us-east-2.amazonaws.com/let-us-go/events/ocean.jpg')">
	<div class="header-content main-page" event="main">
		<div class="header-content-inner">

		    <h1 style="font-size: 58.9167px;">Let's Go!</h1>
		    <hr>
		    <p>This is a simple site to encourage meeting in person.</p>
		    <%= link_to "Check it out as a Guest", events_path, :class=>"btn btn-primary btn-lg"%>
		</div>
	</div>
</header>
           