<p><%= link_to "Back To The Event ", event_path(@event) %>|
	<%= link_to " Add Itinerary", new_event_itinerary_path(@event, @itinerary) %>
</p>

<legend>Event: <%= @event.title %></legend>
<h4> Itineraries </h4>
<table class="table table-striped table-hover">
	<tbody>
		<% @itineraries.each do |itinerary| %>
			<%= render partial: 'detail', locals: {itinerary: itinerary } %>
		<% end %>
	</tbody>
</table>