<section class="no-padding">
    <div class="container">
		<legend>Event: <%= @event.title %></legend>
		<h4> Itineraries </h4>

		<div class="timeline">
			<ul>
				<% @itineraries.each do |dateline| %>
					<%= render partial: 'detail', locals: {dateline: dateline } %>
				<% end %>
			</ul>
		</div>
		<%= link_to "Back To The Event ", event_path(@event), :class =>"btn btn-primary btn-xs" %>
		<%= link_to " Add Itinerary", new_event_itinerary_path(@event, @itinerary), :class =>"btn btn-primary btn-xs"%>
	</div>
</section>