<p><%= link_to "Back To The Event ", event_path(@event) %></p>

<table class="table table-striped table-hover">
	<tbody>

		<legend>Event: <%= @event.title %></legend>
			<%= render partial: 'show', locals: {comment: @comment } %>
	</tbody>
</table>

