

<legend>Upcoming itineraries for events organized by you: </legend>
<% @itineraries.each do |itinerary| %>
	<p>Event : <%= itinerary.event.title %></p>
	<%= render partial: 'itineraries/detail', locals: {itinerary: itinerary } %>
<% end %>