<section class="no-padding">
    <div class="container">
		<legend>Upcoming itineraries for events that you have noted going: </legend>
		<div class="timeline">
			<ul>
				<% @itineraries.each do |itinerary| %>
					<%= render partial: 'itineraries/detail', locals: {dateline: itinerary } %>
				<% end %>
			</ul>
		</div>
	</div>
</section>