<div class="bs-component">
    <div class="jumbotron">
        <h1>Events: </h1>
        <p>Here are all the events.  Have fun!</p>
   	</div>
</div>    

<div class="bs-component">
    <div class="panel panel-default">
	    <% @events.each do |event| %>
	    	<div class="panel-warning">
	    		<%= render partial: 'detail', locals: {event: event} %>
	    	</div>
	    <% end %>
	</div>
</div>

