<div class="bs-component">
    <div class="jumbotron row" style="background:transparent url('/assets/leave.jpg') no-repeat center center /cover">
        <h1 class="main-title" event-id="all">Events:</h1>
     
        <p><%= link_to "Check out the events by popularities", popular_events_path, :class=>"btn btn-lg"%></p>
   	</div>
</div>    

<div class="bs-component">
    <div class="panel panel-default events-table">
	<!-- to display all events-->
	</div>
</div>

