<ul class="nav nav-pills">
	<li class="btn btn-warning btn-xs">
	    <button class="btn btn-warning">{{attributes.stats.status}}</button>
	    <span class="badge"><%= @stats[i][:value]%></span>
	    <% end %>
	</li> 
</ul> 