
{{#each comments}}
  <tr class="info">
    <td>{{attributes.note}}</td>
    <td>{{attributes.email}}</td>
    <td><button class="view-comment" comment-id="{{id}}">View</button></td>
  </tr>
{{/each}}

