<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Event Title</th>
			<th>View Detail</th>
		<tr>
	</thead>
	<tbody>
		{{#if events}}
			{{#each events}}
			  <tr class="info">
				<td>{{attributes.title}}</th>
				<td><a class="btn btn-info" href="/events/{{id}}">view</td>
			   </tr>
			{{/each}}
		{{else}}
			<tr><td>no event yet</td></tr>
		{{/if}}
	</tbody>
</table>

